@model FirmaYonetimSistemi.Entities.Satis

@{
    ViewData["Title"] = "Detay";
}

<h1>Detay</h1>

<div>
    <h4>Satis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Urun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Urun.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miktar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miktar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToplamTutar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToplamTutar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatisTarihi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Bir Önceki Sayfa</a>
</div>
