@model IEnumerable<FirmaYonetimSistemi.Entities.Satis>

@{
    ViewData["Title"] = "İçerikler";
}

<h1>İçerik</h1>

<p>
    <a asp-action="Create">Yeni Kayıt Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Urun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miktar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToplamTutar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SatisTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Urun.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personel.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miktar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToplamTutar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatisTarihi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
